
group Build
    source https://nuget.org/api/v2
    framework: netstandard2.0
    storage: none

    nuget FAKE
    nuget FSharp.Formatting
    nuget Octokit
    nuget NuGet.CommandLine
    nuget SourceLink.Fake
    nuget FSharp.Core
    nuget SharpYaml
    nuget NetStandard.Library.NetFramework
    nuget System.Configuration.ConfigurationManager
    nuget Microsoft.Web.Administration
    nuget Microsoft.Extensions.Caching.Memory
    nuget System.Resources.ResourceManager

    github fsharp/FAKE modules/Octokit/Octokit.fsx
    github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
    github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
    github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypesTesting.fs

group Test
    source https://nuget.org/api/v2
    framework: netcoreapp2.0
    storage: none

    nuget Expecto
